<nav class="sec-navbar">
  <input type="text" name="link" autofocus (paste)="addLink($event)" placeholder="Add a Youtube video link">
</nav>
<br><br>
<div class="container-fluid main">
  <div class="row">
    <div class="col-md-3">
      <div class="playlist">
        <h3 class="text-center">PLAYLIST</h3>
        <ul *ngIf="playlist.length">
          <li *ngFor="let data of playlist;let i = index"><span (click)="playThis(i)" >{{data.title}}</span> <a href="#!" style="color: red;" (click)="removeLink(i)" class="float-right">x</a></li>
        </ul>
        <p *ngIf="!playlist.length" class="text-center">Add YouTube video link to play</p>
      </div>
    </div>
    <div class="col-md-9">
      <div class="video">
        <div id="player"></div>
      </div>
    </div>
  </div>
</div>

